:root {
  --main-bg-color: #EADFFF;
  --text-color: #340000;
  --secondary-color-dark: #FF69A0;
  --secondary-color-light: #FFA4CA;
  --accent-color-dark: #FF8002;
  --accent-color-light: #FFB515;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

a, a:hover {
  text-decoration: none;
  color: var(--accent-color-light);
}

a {
  color: var(--accent-color-dark);
}